.text-color{
    color: red;  
}
.icon-color{
    color: rgb(136, 136, 136);
}

.icon-color:hover{
    color: rgb(25, 25, 255);
}

.cursor-pointer{
    cursor: pointer;
}

.error-text{
    color: red;
}