.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.details-container {
  padding: 2px 16px;
}

.img {
    width: 70%;
    height: 70%;
}

.card-bg{
    background-color: #f5f5f5;
}
